:root {
    --black: #1b1b1b;
    --gray: #636363;
    --lgray: #838383;
    --dgray: #2c2d31;
    --white: #ecedf1;
    --lwhite: #f2f3f7;
}

.blog-post-tablecontent {
    position: absolute;
    height: 30000px;
    top: 0;
    right: 0px;
}